{% extends 'base.html' %}

{% block content %}

<div style="width: 55rem;" class="img_container">
    <h1>My Journals</h1>
    <h3 class='text-light'>Continue Watching</h3>
    <br>
    <div class="row gy-4 row-cols-4">
        {% for journal in journal_list %}
        {% if journal.continue_watching == 'Y' %}
        <a href="{% url 'journals_detail' journal.id %}">
            <div class="card col">
                <img src="{{journal.media.photo_set.first.url}}" class="card-img-top img-thumbnail"
                    style="height:17rem">
                <div class="card-body">
                    <p class="card-text">{{journal.media.name}}</p>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    <h3 class='text-light'>Watch Again</h3>
    <br>
    <div class="row gy-4 row-cols-4">
        {% for journal in journal_list %}
        {% if journal.completed_watching == 'Y' and journal.would_watch_again == 'Y' %}
        <a href="{% url 'journals_detail' journal.id %}">
            <div class="card col">
                <img src="{{journal.media.photo_set.first.url}}" class="card-img-top img-thumbnail"
                    style="height:17rem">
                <div class="card-body">
                    <p class="card-text">{{journal.media.name}}</p>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    <h3 class='text-light'>Have started but don't want to continue</h3>
    <br>
    <div class="row gy-4 row-cols-4">
        {% for journal in journal_list %}
        {% if journal.continue_watching == 'N' and journal.completed_watching == 'N' %}
        <a href="{% url 'journals_detail' journal.id %}">
            <div class="card col">
                <img src="{{journal.media.photo_set.first.url}}" class="card-img-top img-thumbnail"
                    style="height:17rem">
                <div class="card-body">
                    <p class="card-text">{{journal.media.name}}</p>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    <h3 class='text-light'>Don't want to watch again</h3>
    <br>
    <div class="row gy-4 row-cols-4">
        {% for journal in journal_list %}
        {% if journal.would_watch_again == 'N' and journal.continue_watching == 'N' and journal.completed_watching == 'Y' %}
        <a href="{% url 'journals_detail' journal.id %}">
            <div class="card col">
                <img src="{{journal.media.photo_set.first.url}}" class="card-img-top img-thumbnail" alt="..."
                    style="height:17rem">
                <div class="card-body">
                    <p class="card-text">{{journal.media.name}}</p>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}