{% extends 'base.html' %}


{% block content %}
    
<h1>{{media.name}} </h1>
<div class='container'
    <div class="row">
        <div class="card col-3">
            <div class="card-content">
                <h6>Where is it streaming</h6>
                <p class="">Place Holder</p>
                <h6>Genre</h6>
                <p>{{media.genre}}</p>
                <h6>MPAA Rating:</h6>
                <p>{{media.mpaa_rating}}</p>
            </div>
        </div>
        <div class="card col-8">
            <div class="card-content">
                <h6>Description:</h6>
                <p class="">{{media.description}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <a href="{% url 'journal_create' media.id %}" class="btn"></a>
</div>

    
{% endblock content %}
    