{% extends 'base.html' %}


{% block content %}

<h1 class='text-light'>{{media.name}} </h1>
<div class='container'>
    <div class="row">
        <div class="card col-3">
            <div class="card-content">
                <h6>Where is it streaming</h6>
                <p class="">Place Holder</p>
                <h6>Genre</h6>
                <p>{{media.get_genre_display}}</p>
                <h6>MPAA Rating:</h6>
                <p>{{media.get_mpaa_rating_display}}</p>
                <h6>Streaming: </h6>
                {% if media.netflix == 'Y' %}
                    <p>Netflix</p>
                {% endif %}
                {% if media.amazon_prime == 'Y' %}
                    <p>Amazon Prime</p>
                {% endif %}
                {% if media.disney_plus == 'Y' %}
                    <p>Disney+</p>
                {% endif %}
                {% if media.funimation == 'Y' %}
                    <p>Funimation</p>
                {% endif %}
                {% if media.hulu == 'Y' %}
                    <p>Hulu</p>
                {% endif %}
                {% if media.hbo_max == 'Y' %}
                    <p>HBO Max</p>
                {% endif %}
                {% if media.peacock == 'Y' %}
                    <p>Peacock</p>
                {% endif %}
                {% if media.crunchyroll == 'Y' %}
                    <p>Crunchyroll</p>
                {% endif %}
                {% if media.paramount_plus == 'Y' %}
                    <p>Paramount+</p>
                {% endif %}
                {% if media.apple_tv_plus == 'Y' %}
                    <p>Apple TV+</p>
                {% endif %}
                    
            </div>
        </div>
        <div class="card col-8">
            <div class="card-content">
                <h6>Description:</h6>
                <p class="">{{media.description}}</p>
                    {% for photo in media.photo_set.all %}
                        <img class="" src="{{photo.url}}">
                    {% empty %}
                        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
                        {% if user.is_authenticated  %}
                        <form action="{% url 'add_photo' media.id %}" enctype="multipart/form-data" method="POST" class="">
                            {% csrf_token %}
                            <input type="file" name="photo-file">
                            <br><br>
                            <input type="submit" class="btn btn-secondary" value="Upload Photo">
                        </form>
                        {% endif %}
                    {% endfor %}
                    
                    
            </div>
        </div>
    </div>
</div>
<div class="row">
    <a href="{% url 'journal_create' media.id %}" class="col-2 btn btn-secondary">Create a Jounal</a>
</div>


{% endblock content %}