{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col text-light">
            <h1>Streaming Made Easy</h1>
            <p>Find shows and movies, save your favorites, and see where you can watch it.</p>
            <p>Let Streamer Lemurs keep track of where you are watching your favorites.</p>
            <p>Multiple streaming services? Can't find your show? Streamer Lemur knows where you can find it.</p>
        </div>
        <div class="col">
            <img class="logo" src="{% static '/img/lemur.png' %}" alt="Logo" width="" height="">
        </div>
    </div>
</div>
{% endblock %}