.logo {
    padding: 100px;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

nav li {
    padding-right: 15px;
}

nav li a {
    text-decoration: none;
}